.search-bar{
    height: 46px;
    width: 95%;
    display: flex;
    background-color: #ECECEC;
    margin: auto;
    overflow: hidden;
    border-radius: 22px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.15) inset;
}

.submit-button{
    height: 100%;
    width: fit-content;
    background: transparent;
    border: none;
    cursor: pointer;
}

.submit-button svg{
    height: 20px;
    width: 20px;
}

.search-input{
    flex: 1;
    border: none;
    background: transparent;
    font-size: 100%;
}

.search-input:focus{
    outline: none;
}