.page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.slick-track{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.slick-list{
    padding: .5rem !important;
}